# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env.local
.env
OPENAI_API_KEY=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

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
